<div class="container">
    <div class="row">
        <div class="col-md-10">
            <input type="text" #myInput  [(ngModel)]="firstname"(input)="Search()" />
        </div>
        <div class="col-md-12"> 
            <table  width="100%">
                <tr matSort>
                    <th mat-sort-header>checkbox</th>
                    <th mat-sort-header>Id</th>
                    <th mat-sort-header>first Name</th>
                    <th mat-sort-header>Courses</th>
                    <th mat-sort-header>Delete</th>
                </tr>
                <tr *ngFor="let dta of lstitems; let i of index">
                     <td><input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="checked(dta)"></td>
                     <td>{{dta.id}}</td>
                     <td>{{dta.firstname}}</td>
                     <td><select><option *ngFor="let tag of dta.Tags">{{tag}}</option></select></td>
                     <td><button type="button" class="btn btn-danger" (click)="deleteRow(i)">Delete</button></td>
                </tr>
            </table>
        </div>
        <div class="col-md-10">
         
                <th><button type="button" class="btn btn-primary" [disabled]="btndisable" (click)="submitData()">Submit</button></th>
           
        </div>
        <div class="col-md-12" *ngIf="status">
            <table width="100%">
               <tr *ngFor="let val of afterSubmit">
                <td>{{val.id}}</td>
                <td>{{val.firstname}}</td>
                <td><select ><option *ngFor="let dt of val.Tags">{{dt}}</option></select></td>
               </tr>
            </table>
        </div>
    </div>
</div>
